.full-page {
    min-height: 100vh;
    outline: 3px solid orange;
}

.brown {
    outline: 3px solid brown;
}

.grey {
    outline: 3px solid grey;
}

.space-ventures {
    h2 {
        span:first-of-type {
            display: block
        }

        span:nth-of-type(2) {
            color: green;
        }

    }
}

.purple {
    outline: 3px solid purple;
}

.yellow {
    outline: 3px solid yellow;
}

.red {
    outline: 3px solid red;
}

.blue {
    outline: 3px solid blue;
}

/*------------------------------------------------*/
/*-----------------DESKTOPP-----------------------*/
/*------------------------------------------------*/
@media screen and (min-widht: 1024px) {
    .full-page {
        display: flex;
        flex-direction: row;
        gap: 100px;
    }

    .brown, .grey {
         width: 50%;
    }


}