@import "normalize.css";

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*------------------------------------------------*/
/*-----------------LAYOUT-------------------------*/
/*------------------------------------------------*/
.full-page {
    min-height: 100vh;
    min-width: 100vw;
    outline: 3px solid orange;
}

/*------------------------------------------------*/
/*-----------------PAGE.1: ASTRONAUT--------------*/
/*------------------------------------------------*/
.astronaut{
    background-image: url(../img/astronaut.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

/*------------------------------------------------*/
/*-----------------MENU---------------------------*/
/*------------------------------------------------*/
button {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 0;
    z-index: 4;
    pointer-events: none;
}

button span {
    display: block;
    width: 27px;
    height: 4px;
    background-color: black;
    border-radius: 6px;
    margin-bottom: 4px;
}

input {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 3;
    width: 35px;
    height: 35px;
    opacity: 0;
}

button span:nth-child(2) {
    position: relative;
    right: 5px;
    transition: left 0.4s cubic-bezier(0.19, 1, 0.22, 1) ease-in-out;
}

input:hover + .menu button span:nth-child(2) {
    left: -0.001px;
}

/*------------------------------------------------*/
/*-----------------OPEN MENU----------------------*/
/*------------------------------------------------*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255, 0.8);
    z-index: 2;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    visibility: hidden;
    font-family: 'Rubik', sans-serif;
}

input:checked + .menu nav {
    visibility: visible;
    opacity: 1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 700;
    text-shadow: 0px 1.5px rgba(184, 179, 179, 0.994);
}

/*------------------------------------------------*/
/*---------------ASIDE: TO THE MOON---------------*/
/*------------------------------------------------*/
.astronaut .heading-box {
    border: 2.5px solid black;
    width: 5.2rem;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 45px;
    left: 30px;
    padding: 8px;
    z-index: 1;
    font-family: 'Rubik', sans-serif;
}

.astronaut .heading-box .text {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.astronaut .heading-box .link {
    font-size: 0.5rem;
    font-weight: 400;
    margin-bottom: -5px; 
}

/*------------------------------------------------*/
/*------------------FOOTER------------------------*/
/*------------------------------------------------*/
.astronaut .arrow {
    position: absolute;
    width: 100vw;
    height: 50px;
    z-index: 5;
    margin-top: 92vh;
    span {
        position: relative;
        left: 49vw;
        font-size: 2rem;
        color: rgb(255, 255, 255, 1);
    }
}

/*------------------------------------------------*/
/*------------------PAGE.2: STORY-----------------*/
/*---------------------PART 1---------------------*/
.part-1 {
    outline: 3px solid brown;
}

.story {
    background-image: url(../img/space.jpg);
    background-size: cover;
}

/*------------------------------------------------*/
/*----------------H.2 SPACE VENTURES--------------*/
/*------------------------------------------------*/
.space-ventures {
    h2 {
        span:first-of-type {
            position: relative;
            display: block;
            z-index: 1;
            color: white;
            font-family: 'Rubik', sans-serif;
            font-size: 2.2rem;
            font-weight: 700;
            top: 30px;
            left: 25px;
        }

        span:nth-of-type(2) {
            position: relative;
            z-index: 0;
            color: white;
            font-family: "Times New Roman", Times, serif;
            font-size: 3rem;
            font-weight: 700;
            top: -1px;
            left: 57px;
            opacity: 0.6;
        }
    }
}
/*------------------------------------------------*/
/*----------------ARTICLE GROUND------------------*/
/*------------------------------------------------*/
.ground {
    outline: 3px solid purple;
    color: white;
    font-family: 'Rubik', sans-serif;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 0.45rem;
    line-height: 12px;
    margin-top: -15px;
    h3 {
        font-size: 0.9rem;
    }
}
/*--------------lägg ruta runt citat och ""utanför!----*/
blockquote {
    outline: 3px solid yellow;
    margin: 20px;
    padding-left: 20px;
    padding-right: 10px;
    position: relative;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    font-size: 0.7rem;
    line-height: 15px;
    z-index: 2;
    &::before, &::after {
        content: "\2033";
        display: block;
        position: absolute;
        display: inline;
        font-size: 5rem;
        opacity: 0.7;
        z-index: 1;
    }
    &::before {
        top: 10px;
        left: 0.1rem;
    }
    &::after {
        bottom: -12px;
        left: 12.5rem;
    }
}

/*------------------------------------------------*/
/*------------------PAGE.2: STORY-----------------*/
/*---------------------PART 2---------------------*/
.part-2 {
    outline: 3px solid grey;
}

.gradient-quote {
    outline: 3px solid green;
    padding: 0;
    margin: 0;
}
/*------------------------------------------------*/
/*----------------ARTICLE CLEARFIX----------------*/
/*------------------------------------------------*/
.clearfix {
    outline: 3px solid blue;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 0.45rem;
    padding-left: 20px;
    padding-right: 10px;
    line-height: 12px;
    span:nth-of-type(4) {
        color: red;
        border-bottom: 1px solid red;
    }
    span:nth-of-type(5) {
        color: red;
        font-size: 0.6rem;
        font-weight: 400
    }
    span:nth-of-type(5) {
        position: relative;
        left: 0;
        transition: left 0.4s cubic-bezier(0.65, 0, 0.35, 1);
        &:hover { left: 10px; }
    }
}

/*------------------------------------------------*/
/*----------------MOBILE--------------------------*/
/*------------------------------------------------*/
.gradient-quote {
    display: none;
}

.major-tom {
    display: none;
}

/*------------------------------------------------*/
/*-----------------DESKTOPP-----------------------*/
/*------------------------------------------------*/
@media screen and (min-width: 600px) {
    .full-page {
        display: flex;
        gap: 200px;
        .part-1 {
            padding-left: 80px;
        }
        .part-2 {
            padding-right: 80px;
        }
    }

    ul {
        font-size: 2rem;
        li:hover {
            text-decoration: 6px underline rgb(209, 0, 161);
        }
            
    /*--------------?---radius o shadow--?----------*/
    // /----------underline vs boder-bottom---------*/
        .border-bottom {
            
            border-radius: 20px;
            text-shadow{
                visibility: hidden;
            }
        }
    }
            
    .astronaut {
        .heading-box {
          width: 12rem;
      
          .text {
            font-size: 3rem;
            margin-bottom: 30px;
            margin-top: 25px;
          }
      
          .link {
            text-align: right;
            font-size: 0.6rem;
            margin-bottom: 5px;
            span {
              position: relative;
              left: 0;
              transition: left 0.4s cubic-bezier(0.65, 0, 0.35, 1);
              &:hover { left: 10px; }
            }
          }
        }

        .arrow {
            span {
                visibility: hidden; 
            }
        }          
    }
   /*------------------PAGE.2 STORY---------------*/ 
   .story {
      background-image: url(../img/space_rot.jpg);
      background-size: cover;
      background-position: 100;
    }

   .part-1, .part-2 {
         width: 50%;
    }

    .gradient-quote {
        display: block;
        padding-left: 20px;
        padding-top: 35px;
        padding-bottom: 30px;
        width: 250px;
        font-family: 'Rubik', sans-serif;
        font-style: italic;
        font-size: 1.7rem;
        line-height: 25px;
        opacity: 0.35;
        background: #BF22AA;
        background: linear-gradient(to bottom right, #BF22AA 0%, #E4E6DF 50%, #BF22AA 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .major-tom {
        display: block;
        width: 100px;
        height: auto;
        float: right;
        transform: rotate(3deg);
    }
}

