.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.full-page {
    min-height: 100vh;
    outline: 3px solid orange;
}

.brown {
    outline: 3px solid brown;
}

.grey {
    outline: 3px solid grey;
}

.space-ventures {
    h2 {
        span:first-of-type {
            position: relative;
            display: block;
            z-index: 1;
           
        }

        span:nth-of-type(2) {
            position: relative;
            top: -20px;
            left: 10px;
            z-index: 0;
            color: green;
        }
    }
}

blockquote {
    margin: 20px;
    padding: 0;
    position: relative;
    &::before, &::after {
        content: "";
        display: block;
        position: absolute;
        display: inline;
        font-size: 3rem;
    }
    &::before {
        top: -5px;
        left: -20px;
    }
    &::after {
        bottom: -5px;
        right: -20px;
    }
}

.purple {
    outline: 3px solid purple;
}

.yellow {
    outline: 3px solid yellow;
}

.red {
    outline: 3px solid red;
}

.blue {
    outline: 3px solid blue;
}

/*------------------------------------------------*/
/*----------------MOBILE--------------------------*/
/*------------------------------------------------*/
.gradient-quote {
    display: none;
}

.major-tom {
    display: none;
}

/*------------------------------------------------*/
/*-----------------DESKTOPP-----------------------*/
/*------------------------------------------------*/
@media screen and (min-width: 800px) {
    .full-page {
        display: flex;
        gap: 100px;
    }
    .brown, .grey {
         width: 50%;
    }
    .gradient-quote {
        display: block;
        background: #CF273E;
        background: linear-gradient(to top left, #CF273E 24%, #FFBC63 34%, #FFEE57 46%, #FFBC63 64%, #CF273E 74%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-size: 3rem;
        text-align: center;
    }
    .major-tom {
        display: block;
        width: 100px;
        height: auto;
        float: right;
        transform: rotate(3deg);
    }



}